*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 30px;
  width: 1140px;
  height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  margin-top: 16px;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #FFFFFFB2;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFFB2;
  background: transparent;
  width: 211px;
  height: 22px;
  appearance: none;
}

.search-form__textfield {
  cursor: text;
}

.search-form__textfield:active {
  border-width: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: white solid 1px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  background-color: white;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  display: none;
}

.search-form__label input:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.checkbox_label:hover {
  text-decoration: underline;
}

.checkbox_label:focus {
  outline: none;
}

.checkbox_label:focus-visible {
  outline: white solid 1px;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
  grid-column: 4 / 6;
  grid-row: 2 / 5;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: white solid 1px;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 1;
}

.button {
  border: 1px solid white;
  background: transparent;
  font-family: 'Fira Sans Condensed';
  color: white;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  margin-top: 30px;
  width: 390px;
}

.button:hover {
  background: #545050;
}

.button:active {
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: white solid 1px;
}